html,body {
    background-color: gainsboro;
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

button{
    padding: 15px 40px;
    margin: 10px;
    background-color: skyblue;
    border-radius: 20px;
}

h1{
    padding: 10px 70px;
    background-color: cyan;
    width: fit-content;
    margin-left: 30%;
}